*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 230px;
  background-color: rgb(6, 145, 245);
}

.sidebar .logoDetails{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logoDetails i{
  font-size: 30px;
  color: antiquewhite;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logoDetails .logoName{
  font-size: 22px;
  color: antiquewhite;
  font-weight: 600;
}

.sidebar .navLinks{
  height: 100%;
  padding-top: 30px;
}

.sidebar .navLinks li{
  list-style: none;
  position: relative;
  transition: all 0.4s ease;
}

.sidebar .navLinks li:hover{
  background-color: blue;
}

.sidebar .navLinks li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: antiquewhite;
  font-size: 20px;
}

.sidebar .navLinks li .iconLinks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .navLinks li a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .navLinks li a .linkName{
  font-size: 18px;
  font-weight: 400;
  color: antiquewhite;
}

.sidebar .navLinks li .subMenu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background-color: blue;
  /* display: none; */
}

.sidebar .navLinks li .subMenu a{
  color: antiquewhite;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .navLinks li .subMenu a:hover{
  opacity: 1;
}

.sidebar.close .navLinks li .subMenu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .navLinks li:hover .subMenu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.sidebar.close .navLinks li .subMenu .linkName{
  display: none;
}
.sidebar.close .navLinks li .subMenu .linkName{
  font-size: 18px;
  opacity: 1;
  display: block;
}